@import "var";

#dashboard-container {
	background-color: $content-color;
	height: 100%;

	display: flex;
}

#sidebar {
	flex: 1;
	box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.25);
	background: $sidebar-color;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			color: #fff;
			

			padding-top: 10px;

			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			
			.fa {
				padding-left: 20px;
				padding-right: 3px;
			}

			ul {
				list-style: none;
				padding: 0;
				margin: 0;

				padding-top: 10px;

				li {
					padding-left: 30px;
					background: darken($sidebar-color,10);
					transition: all 0.3s;
					cursor: pointer;

					padding-top: 7px;
					padding-bottom: 7px;

					color: #adc5df;

					font-family: 'Montserrat', sans-serif;
					font-weight: 500;

					span {
						padding-left: 7px;
					}

					&:hover {
						background: darken($sidebar-color, 15);
					}
				}
			}
		}
	}
}

.status-indicator {
	border-radius: 100px;
	height: 10px;
	width: 10px;

	margin-top: 4px;

	float:left;
}

.status-indicator-success {
	@extend .status-indicator;
	background: #00d905;
}

.status-indicator-warn {
	@extend .status-indicator;
	background: #e8e000;
}

.status-indicator-down {
	@extend .status-indicator;
	background: #e80000;
}

.selected-sidebar-row {
	background: darken($sidebar-color, 20) !important;
}

#sidebar-title {
	font-family: 'Montserrat', sans-serif;
	color: #fff;

	padding: 20px;
	font-size: 30px;
	font-weight: 700;
}

#logout {

}