@import "var";

#dashboard-container {
	background-color: $content-color;
	height: 100%;

	display: flex;
}

#sidebar {
	flex: 1;
	box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.25);
	background: $sidebar-color;

	position: relative;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			color: #fff;
		
			padding-top: 10px;

			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			
			.fa {
				padding-left: 20px;
				padding-right: 3px;
			}

			ul {
				list-style: none;
				padding: 0;
				margin: 0;

				padding-top: 10px;

				li {
					padding-left: 30px;
					background: darken($sidebar-color,10);
					transition: all 0.3s;
					cursor: pointer;

					padding-top: 7px;
					padding-bottom: 7px;

					color: #adc5df;

					font-family: 'Montserrat', sans-serif;
					font-weight: 500;

					span {
						padding-left: 7px;
					}

					&:hover {
						background: darken($sidebar-color, 15);
					}
				}
			}
		}
	}
}

.status-indicator {
	border-radius: 100px;
	height: 10px;
	width: 10px;

	margin-top: 5px;

	float:left;
}

.status-indicator-green {
	@extend .status-indicator;
	background: #00d905;
}

.status-indicator-yellow {
	@extend .status-indicator;
	background: #e8e000;
}

.status-indicator-red {
	@extend .status-indicator;
	background: #e80000;
}

.status-indicator-gray {
	@extend .status-indicator;
	background: #999;
}

.selected-sidebar-row {
	background: darken($sidebar-color, 20) !important;
}

#sidebar-title {
	font-family: 'Montserrat', sans-serif;
	color: #fff;

	padding: 20px;
	font-size: 30px;
	font-weight: 700;
}

.new-app {
	color: #fff;
	position: absolute;

	bottom: 10px;
	right: 10px;

	font-size: 20px;

	cursor: pointer;
	transition: all 0.3s;

	&:hover {
		color: #ededed;
	}
}

#add-model-container {
	position: absolute;
	width: 100%;
	height: 100%;

	z-index: 100;

	background: rgba(1,1,1,0.75);
	transition: all 0.3s;
}

#add-pane {
	width: 600px;
	height: 300px;
	margin: auto;
	margin-top: 150px;
	position: relative;

	background: #fff;
	border: 2px solid $sidebar-color;
	border-radius: 3px;

	text-align: center;

	.button {
		position: absolute;
		bottom: 10px;
		right: 10px;
	}

	.button-cancel {
		position: absolute;
		bottom: 10px;
		right: 100px;
	}
}

#add-pane-key {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 25px;

	color: #dbdbdb;
	text-align: center;
}

input {
	transition: all 0.3s;
	outline: 0;

	border: 1px solid #dbdbdb;

	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 14px;
	height: 35px;
	padding-left: 10px;

	text-align: center;

	color: #666;

	&:hover {
		border: 1px solid $sidebar-color;
	}

	&:focus {
		border: 1px solid $sidebar-color;
	}
}

#new-app-name {
	width: 80%;
	margin-bottom: 20px;
	margin-top: 75px;
}

#add-title {
	color: $sidebar-color;

	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	margin-top: 15px;

	font-size: 15px;
}

.button {
	width: 70px;
	border-radius: 3px;
	border: 1px solid $sidebar-color;

	color: $sidebar-color;
	font-family: 'Montserrat', sans-serif;
	padding: 5px;

	cursor: pointer;
	transition: all 0.3s;

	&:hover {
		border-color: darken($sidebar-color, 15);
		color: darken($sidebar-color, 15);
	}
}

.button-cancel {
	@extend .button;
	border-color: darken(#dbdbdb, 15);
	color: darken(#dbdbdb, 15);

	&:hover {
		border-color: darken(#dbdbdb, 25);
		color: darken(#dbdbdb, 25);
	}
}