<div id="add-model-container" show-add="showAddContainer">
	<div id="add-pane">
		<div id="add-title">Application Name and Key</div>
		<input type="text" placeholder="Application Name" id="new-app-name" ng-model="newApp"/>
		<div id="add-pane-key">{{ newKey }}</div>

		<div class="button" ng-click="completeNewApp()">Confirm</div>
		<div class="button-cancel" ng-click="showAddContainer = false">Cancel</div>
	</div>
</div>

<div id="dashboard-container">
	<div id="sidebar">
		<div id="sidebar-title">statly</div>

		<ul>
			<li ng-repeat="app in user.applications">
				<heading>
					<i class="fa fa-server"></i> {{app.name}}
				</heading>

				<ul>
					<li ng-repeat="i in app.instances" ng-click="itemSelected(app.name, i.name)" ng-class="{'selected-sidebar-row' : app.name == application && i.name == instance}">
						<div ng-class="getColor(app.name,i.name)"></div><span>{{i.name}}</span>
					</li>
				</ul>
			</li>
		</ul>

		<i class="fa fa-plus new-app" ng-click="addNewApp()"></i>
	</div>

	<div id="content">
		<div id="content-title">
			<div id="app-title">{{application}}</div>
			<div id="instance-title">{{instance}}</div>
		</div>

		<select id="pane-chooser" ng-change="paneChanged()" ng-model="pane">
			<option value="overview">Overview</option>
			<option value="users">Users</option>
			<option value="execution">Execution Time</option>
			<option value="counters">Counters</option>
			<option value="logs">Logs</option>
		</select>

		<div ui-view id="view" data-anim-sync="true" data-anim-speed="2000" class="anim-in-out anim-fade"></div>
	</div>
</div>