<div class="page-container">
	<div class="row">
		<div class="col-md-6">
			<div class="info-box" style="margin-right: 20px;">
				<i class="fa fa-tachometer large-icon"></i>
				<div class="text-area">
					<div class="title">System online for {{ uptime }} days</div>
					<div class="sub">{{ systype }} based system</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="info-box" style="margin-left: 20px;">
				<i class="fa fa-server large-icon-server"></i>

				<div class="text-area">
					<div class="title">Single Node System</div>
					<div class="sub">{{ mem }} % of memory free</div>
					<div class="sub">{{ bw }} MB's of bandwidth used</div>
				</div>
			</div>
		</div>
	</div>

	<canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" height="100" style="margin-top: 60px;"></canvas> 
</div>