<div class="page-container">
	<div class="list-view">
		<ul>
			<li ng-repeat="user in users | filter: filter" ng-class="{'list-view-selected-row' : user == selected}" ng-click="viewUser(user)">{{ user }}</li>
		</ul>
	</div>

	<input type="text" class="seach" placeholder="Filter by..." ng-model="filter" style="text-align: -webkit-auto;width: 100%;margin-top: 20px;"/>

	<div class="row" style="padding-top: 30px;">
		<div class="col-md-6">
			<div class="info-box" style="margin-right: 20px;">
				<i class="fa fa-calendar large-icon" style="padding-top: 5px;"></i>
				<div class="text-area">
					<div class="title">System Time</div>
					<div class="sub">{{ usertime[selected] }} milliseconds of server time</div>
					<div class="sub">Average user spent {{ avgTime }} milliseconds</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="info-box" style="margin-left: 20px;">
				<i class="fa fa-server large-icon-server"></i>

				<div class="text-area">
					<div class="title">Endpoints Requested</div>
					<div class="sub">{{ userhits[selected] }} endpoints</div>
					<div class="sub">Average user hit {{ avgHits }} endpoints</div>
				</div>
			</div>
		</div>
	</div>
</div>